.fsborder {
    border: ridge 2pt;
    border-radius: 10pt;
}

#fscadastrocliente {
    border: 0;
}

fieldset {
    display: inline-block;
    border: ridge 2pt;
    border-radius: 10pt;
}

#nav1:hover {
    background-color: #2B7C85;
}

#nav2:hover {
    background-color: #2B7C85;
}

#nav3 {
    background-color: #175873;
}

input {
    border-radius: 10px;
}

.btn {
    background-color: #175873;
    color: white;
}

.btn:hover {
    background-color: #2B7C85;
    color: white;
}

#btncancel {
    background-color: #ff2511da;
}

#btncancel:hover {
    background-color: #ff1500;
    color: white;
}