* {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#btngrvecancl,
#clrbrdr {
    border-radius: 0;
    border: 0;
}

.fsborder {
    border: ridge 2pt;
    border-radius: 0 0 0 10pt;
    padding: 10pt;
}

#fscadastrocliente {
    border: 0;
}

fieldset {
    display: inline-block;
    border: ridge 2pt;
    border-radius: 10pt;
}

#nav1, #nav2, #nav3, #nav4, #nav5 {
    background-color: #175873;
}

#nav1:hover, #nav2:hover, #nav3:hover, #nav5:hover {
    background-color: #2B7C85;
}

input {
    border: ridge;
    border-radius: 10px;
}

.btn {
    background-color: #175873;
    color: white;
}

.btn:hover {
    background-color: #2B7C85;
    color: white;
}

#btncancel {
    background-color: #ff2511da;
}

#btncancel:hover {
    background-color: #ff1500;
    color: white;
}