* {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.fsborder,
#fs1 {
    padding: 10pt;
    border: ridge 2pt;
    border-radius: 0 0 0 10pt;
}

fieldset {
    display: inline-block;
}

#nav1, #nav2, #nav3, #nav4, #nav5 {
    background-color: #175873;
}
 
#nav1:hover, #nav3:hover, #nav4:hover, #nav5:hover {
    background-color: #2B7C85;
}

input {
    border: ridge;
    border-radius: 10px;
}

.btn,
#btnconsultarcnpj,
#btnsub {
    background-color: #175873;
    color: white;
}

.btn:hover,
#btnconsultarcnpj:hover,
#btnsub:hover {
    background-color: #2B7C85;
    color: white;
}

#btncancel {
    background-color: #ff2511da;
    color: white;
}

#btncancel:hover {
    background-color: #ff1500;
    color: white;
}