* {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#btnscancel,
#inputimg {
    border: 0;
    border-radius: 0;
}

fieldset {
    display: inline-block;
    border: ridge 2pt;
    border-radius: 0 0 0 10pt;
    padding: 5pt;
}

#fscadastro {
    border: 0;
}

.fsclass {
    background-color: white;
}

#nav1:hover {
    background-color: #2B7C85;
}

#nav2 {
    background-color: #175873;
}

#nav3:hover {
    background-color: #2B7C85;
}

input {
    border: ridge;
    border-radius: 10px;
}

.btn,
.btn {
    background-color: #175873;
    color: white;
}

.btn:hover {
    background-color: #2B7C85;
    color: white;
}

#btncancel {
    background-color: #ff2511da;
    color: white;
}

#btncancel:hover {
    background-color: #ff1500;
    color: white;
}